@import "tailwindcss";


@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }

  @keyframes stroke {
    0% {
      fill: rgba(72, 138, 204, 0);
      stroke: #353639;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }
    70% {
      fill: rgba(72, 138, 204, 0);
      stroke:#353639;
    }
    80% {
      fill: rgba(72, 138, 204, 0);
      stroke: #353639;
      stroke-width: 3;
    }
    100% {
      fill: #353639; 
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }
  
  .wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  svg {
    font-family: "Anton", sans-serif;
  }
  
  svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #353639;
    font-size: 200px;
    fill: #353639; /* Optional: base fill */
  }
  
  
  .floating {
    animation: float 4s ease-in-out infinite;
  }
  
  /* Hide scrollbar utility */
.scrollbar-hide::-webkit-scrollbar {
  
  height: 4px;
  background-color:lightgray;  
  border-radius: 5px;
}

/* Hide browser scrollbar across all browsers */
html, body {
  overflow-y: scroll; /* or 'auto' if needed */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* index.css or globals.css */



.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* toastify color */

/* Success Toast Styles */
/* Success Toast */
.toast-success {
  background-color: #003617 !important; /* Green background */
  color: white !important;
}

.toast-success .Toastify__toast-icon {
  background-color: white !important; /* White icon background */
  border-radius: 50%;
  padding: 4px;
}

.toast-success .Toastify__toast-icon svg {
  color: #2ecc71 !important; /* Green tick icon */
}
.toast-success .Toastify__progress-bar {
  background-color: white !important; /* White progress bar */
}

.toast-success .Toastify__close-button {
  color: white !important; /* White close button */
  opacity: 1;
}

/* Error Toast */
.toast-error {
  background-color: #e74c3c !important; /* Red background for error */
  color: white !important;
}

.toast-error .Toastify__toast-icon {
  background-color: white !important;
  border-radius: 50%;
  padding: 4px;
}

.toast-error .Toastify__toast-icon svg {
  color: #e74c3c !important; /* Red error icon */
}
.toast-error .Toastify__progress-bar {
  background-color: white !important; /* White progress bar */
}

.toast-error .Toastify__close-button {
  color: white !important; /* White close button */
}

